/*html, body {margin: 0; height: 100%; overflow: hidden;}*/

#main {
    position: absolute;
}

#field {
    position: absolute;
    width: 100vmin;
    height: 100vmin;
}

canvas {
    position: relative;
    /*display: block;
        position: absolute;*/
    margin: auto;
/*    top: 0;
    bottom: 0;
    left: 0;
    right: 0;*/
}