/*html, body {margin: 0; height: 100%; overflow: hidden;}*/
body {
    overflow-y: hidden; // hide vertical
    overflow-x: hidden; // hide horizontal
}
#main {
    position: absolute;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#field {
    position: absolute;
    width: 100vmin;
    height: 100vmin;
}

canvas {
    position: relative;
    /*display: block;
        position: absolute;*/
    margin: auto;
/*    top: 0;
    bottom: 0;
    left: 0;
    right: 0;*/
}